# Server
PORT=5000
NODE_ENV=development

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bulksms_db
DB_USER=postgres
DB_PASSWORD=123456
# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# Infobip SMS API
INFOBIP_API_KEY=your_infobip_api_key
INFOBIP_BASE_URL=https://XXXX.api.infobip.com
INFOBIP_DEFAULT_SENDER=BulkSMS

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
EMAIL_FROM=noreply@bulksms.dj
EMAIL_FROM_NAME=BulkSMS Platform

# Frontend URL
CLIENT_URL=http://localhost:3000

# Upload
MAX_FILE_SIZE=10485760
UPLOAD_DIR=uploads

# Alertes
LOW_BALANCE_THRESHOLD=100

# Waafi Pay (paiement mobile Djibouti)
WAAFI_API_URL=https://api.waafipay.net/asm
WAAFI_MERCHANT_UID=your_merchant_uid
WAAFI_API_USER_ID=your_api_user_id
WAAFI_API_KEY=your_api_key
# Mettre à true pour simuler les paiements sans credentials réels
WAAFI_TEST_MODE=true
